/* recipe#index */
.recipe-ul {
  width: 75%;
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.recipe-li {
  width: 80%;
  border: 2px solid #000;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.recipe-link   {
  color: #000;
  text-decoration: none;
}

.recipe-li-div {
  width: 40%;
}

.recipe-p {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* recipe#show */
#recipe-div {
  padding: 25px 10%;
}
#recipe-title {
  text-align: center;
}
#recipe-information {
  position: relative;
}

#precipe-public {
  position: absolute;
  top: 10%;
  right: 10px;
  display: flex;
  gap: 12px;
}

.public {
  position: relative;
}

.public::before {
  position: absolute;
  top: -14px;
  left: 0;
  content: '';
  padding: 23px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 100%;
}

.public::after {
  content: '';
  padding: 12px 50px;
  background-color: #555;
  border: 5px solid #000;
  border-radius: 50px;
}

.public.active::before{
  left: 52%;
  background-color: #fff;
}

.public.active::after {
  background-color: #168437;
}

#recipe-show-btns {
  display: flex;
  justify-content: space-around;
}
